*, *::after, *::before {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}

body {
    background-image: linear-gradient(#9D50BB, #6E48AA);
    min-height: 100vh;
}


/* form section */

.header-nav {
    margin: 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    width: 300px;
    outline: none;
    border: none;
    font-size: 16px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 100vmax;
    padding: .5em 1em;
}


/* cards */

.cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}


.card {
    min-width: 250px;
    min-height: 450px;
    background-color: rgba(255, 255, 255, .8);
    text-align: center;
    padding: 1em 2em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card--span-3 {
    grid-column: span 3;
}

.card__img {
    width: 90%;
    margin: 0 auto 1em auto;
}

.card__name {
    font-weight: 400;
}

.card > *:not(:first-child) {
    font-size: 20px;
    /* margin-top: 1em; */
}

.card__btn {
    font-size: 16px !important;
    outline: none;
    border: none;
    background-color: dodgerblue;
    color: #fff;
    padding: .5em 1.5em;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 250ms ease-in;
}

.card__btn + .card__btn {
    margin-left: 1em;
}

.card__btn:hover {
    opacity: 0.8;
}